{% extends "global/base.html" %}
{% comment %} {% load static %} {% endcomment %}
{% comment %} importar o css {% endcomment %}
{% comment %} {% block styles %}
    <link rel="stylesheet" href="{% static 'client/css/client.css' %}">
{% endblock %} {% endcomment %}

{% comment %} aqui é a tela de listagem de clientes {% endcomment %}
{% comment %} {% block title %}Client List{% endblock %} {% endcomment %}
{% block content %}

    <style>        
        .client-table-title{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            /* font-family: Georgia, serif; */
            color: #7B68EE;
        }
        
        .client-table{
            width: 100%;
            width:800px;
            margin: 20px auto;
            border:solid #7B68EE;
            border-radius: 5px;
        }
        
        .client-table-header{
            background-color: #7B68EE;
            color: #FCFBF8;
            font-weight: bold;
            font-size: 18px;
            border-radius: 5px;
        }
        
        .client-table-header th{
            padding: 10px;  
            text-align: center;
            border-radius: 4px;
            /* espaçar cada um deles */
        }
        
        .client-table-body{
            background-color: #FFFAFA;
            color: black;
            font-size: 16px;
            border-radius: 5px;
            text-align: center;
        }
        
        .client-table-body tr:nth-child(even){
            background-color: #FFFAFA;
        }
        
        .client-table-body td{
            padding: 10px;
            {% comment %} border-radius: 4px; {% endcomment %}
            border-bottom: 1px solid #7B68EE;
            
            /* espaçar cada um deles */
            /* font-family:Verdana, Geneva, Tahoma, sans-serif */
        }
        .client-table-body td a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .client-list-container{
            margin-top: 100px;
        }
        .client-list-container form{
            display: flex;
            justify-content: center;
        }
        .client-list-container form input{
            width: 200px;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            border-color: #7B68EE;
            margin:25px 7px;
        }
        .client-list-container form button{
            padding: 10px 20px;
            background-color: #7B68EE;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin: 25px 7px;
        }
        .client-list-container form a{
            padding: 10px 20px;
            background-color: #7B68EE;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin: 25px 7px;
            text-decoration: none;
        }
        .pagination {
            margin-bottom:32px;
            text-align: center;
            margin-top: 20px;
        }
        .pagination a {
            margin: 0 5px;
            text-decoration: none;
            color: #7B68EE;
            font-weight: bold;
        }
        .pagination span {
            font-weight: bold;
        }
    </style>
    <title> Synera </title>

    <div class="client-list-container">
        {% comment %} aqui eu quero ter uma barra de pesquisa para buscar pelo id e cnpj {% endcomment %}
        {% comment %} <h1 class='client-table-title'>Client List</h1> {% endcomment %}
        <form method="GET" action="{% url 'client:index' %}">
            <input type="text" name="search" placeholder="Search by ID or name" value="{{ search_query }}">
            <button type="submit">Search</button>
            <a href="{% url 'client:index' %}">Clear</a>
        </form>
        <table class="client-table">
            <thead class="client-table-header">
                <tr class="client-table-header-row">
                    <th>ID</th>
                    <th>Name</th>
                    <th>CNPJ</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody class='client-table-body'>
                {% for client in clients %}
                <tr>
                    {% comment %} client.id e client. name precisam ser links clicaveis {% endcomment %}
                    <td><a href="{% url "client:client_detail" client.id %}">{{ client.id }}</a></td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.cnpj }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Nenhum cliente encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% comment %} aqui eu quero ter uma barra de paginação {% endcomment %}
        <div class="pagination">
            {% if clients.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ clients.previous_page_number }}">Previous</a>
            {% endif %}
            <span>Page {{ clients.number }} of {{ clients.paginator.num_pages }}</span>
            {% if clients.has_next %}
                <a href="?search={{ search_query }}&page={{ page_obj.next_page_number }}">Next</a>
                <a href="?search={{ search_query }}&page={{ clients.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
            
{% endblock content %}
