header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #7B68EE;
    height: 90px;
    border-radius: 10px;
    /* font-family: Georgia, serif; */
}
.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    width: 97%;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #7B68EE;
    height: 90px;
    border-radius: 10px;
    /* font-family: Georgia, serif; */
}

.nav-left, .nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    /* margin-left: 200px; */
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: #FCFBF8;
    font-size: 20px;
}

.header-title {
    flex: none;
    text-align: center;
    padding: 0 20px;
}

.header-title a {
    text-decoration: none;
    color: #FCFBF8;
    font-size: 32px;
    font-weight: bold;
}

main {
    padding-top: 100px;
}

footer{
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 92.5%;
    z-index: 999;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    background-color: #7B68EE;
    height: 60px;
    border-radius: 10px;
    /* font-family: Georgia, serif; */
    /* grudar ele no fim da pagina */
    /* position: fixed; */
    border-radius: 10px;
}
.contact-info {
    text-align: center;
    color: #FCFBF8;
    font-size: 15px;
    display: flex;
    padding: 30px 20px
}
.copyright {
    color: #FCFBF8;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.contact-info p{
    margin: 0 10px;
    padding: 20px 20px;
}