{% extends "global/base.html" %}
{% comment %} aqui é a tela de detalhes do ordere:
basicamente quando o usuario clicar no nome ou no id do ordere especifico na tela do index.html ele sera redirecionado para ca, onde tera a visualização do seu ordere especifico, com os dados dele {% endcomment %}

{% block content %}

    <style>
        .order-details-container {
            margin: 145px auto 55px auto;
            padding: 20px;
            width: 500px; /* define a largura fixa */
            border: 2px solid #ccc;
            border-radius: 5px;
            border-color: #7B68EE;
            background-color: #E6E6FA;
        }

        .order-details-title {
            font-size: 24px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            color: #7B68EE;
            width: 100%;
        }

        .order-details-table {
            width: 100%;
            display:flex;
            justify-content: center;
        }

        .order-details-table th{
            color: #7B68EE;
        }


        .details-th {
            width: 150px;
            {% comment %} color: #7B68EE; {% endcomment %}
        }

        .order-details-table th {
            background-color: #ffffff;
            border-radius: 5px;
            {% comment %} border-color: #7B68EE; {% endcomment %}
            border: 2px solid #7B68EE;
        }

        .order-details-table td {
            {% comment %} background-color: #ffffff; {% endcomment %}
            {% comment %} border-color: #7B68EE; {% endcomment %}
            border-bottom: 2px solid #7B68EE;
            padding: 10px;
            margin: 10px;
            text-align:center;
        }

    </style>
    <title> Order Details</title>


    <div class="order-details-container">
        <h1 class='order-details-title'>order Details</h1>
        <table class="order-details-table">
            <tr>
                <th class='details-th'>ID</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ order.name }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ order.client.name }}</td>
            </tr>
            <tr>
                <th>Order Date</th>
                <td>{{ order.order_date }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ order.description|truncatewords:7 }}</td>
            </tr>
            <tr>
                <th>Total Amount</th>
                <td>{{ order.total_amount }}</td>
            </tr>
            <tr>
                <th>Responsible</th>
                <td>{{ order.responsible }}</td>
            </tr>
        </table>

        <!-- Add any additional details or actions here -->
    </div>

{% endblock content %}